<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Makeup</title>
  </head>
  <body>
    <header>
      <h1>makeup organizer</h1>
    </header>
    <main>
      <h2>Edit Your Collection</h2>
      <div class="container">
        <form action="/yourCollection/<%=makeup.id%>?_method=PUT" method="POST">
          <label>TYPE: </label>
          <select id="type">
            <option value="select" disabled selected>
              Where does the product go?
            </option>
            <option value="eyes">Eyes</option>
            <option value="lips">Lips</option>
            <option value="face">Face</option>
          </select>
          NAME:
          <input type="text" name="name" value="<%=makeup.name %>" />
          IMAGE:
          <input type="text" name="img" value="<%=makeup.img %>" /> SHADE:
          <input type="text" name="shade" value="<%=makeup.shade %>" /> BUY
          MORE:
          <input type="checkbox" name="buyMore" value="<%=makeup.buyMore %>" />
          TAGS: <input type="text" name="tags" value="<%=makeup.tags %>" />
          <input type="submit" value="EDIT" />
        </form>
      </div>
    </main>
    <footer>
      <p>Coded by Fabiola Pina</p>
    </footer>
  </body>
</html>
