<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=makeup.name %></title>
  </head>
  <body>
    <header>
      <h1>makeup organizer</h1>
    </header>
    <h2><%=makeup.name %></h2>
    <main>
      <div class="container">
        <img src="<%=makeup.img %>" />
        <h5>
          <span class="data">Shade: <%=makeup.shade %></span>
        </h5>
        <h5>
          <span class="data">Type: <%=makeup.type %></span>
        </h5>
        <h5>
          <span class="data">Buy More: <%=makeup.buyMore %></span>
        </h5>
        <h5>
          <span class="data"> Tags: <%=makeup.tags %> </span>
        </h5>
        <button>
          <a href="/yourCollection">Back to Your Collection</a>
        </button>
      </div>
    </main>
    <footer>
      <p>Coded by Fabiola Pina</p>
    </footer>
  </body>
</html>
