<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=makeup.name %></title>
  </head>
  <body>
    <%- include ('./partials/header.ejs') %>
    <hr />
    <h2><%=makeup.name %></h2>
    <main>
      <div class="container">
        <img src="<%=makeup.img %>" />
        <h5>
          <span class="data"
            >Shade:
            <span class="specific"> <%=makeup.shade %> </span>
          </span>
        </h5>
        <h5>
          <span class="data"
            >Type:
            <span class="specific"> <%=makeup.type %> </span>
          </span>
        </h5>
        <h5>
          <span class="data"
            >Buy More:
            <span class="specific"> <%=makeup.buyMore %> </span>
          </span>
        </h5>
        <h5>
          <span class="data">
            Tags:
            <span class="specific"> <%=makeup.tags %> </span>
          </span>
        </h5>
        <button>
          <a href="/yourCollection">Back to Your Collection</a>
        </button>
      </div>
    </main>
    <%- include ('./partials/footer.ejs') %>
  </body>
  <style>
    body {
      background-color: #fdf8f5;
      color: #4f4846;
    }

    .right {
      display: flex;
      justify-content: flex-end;
      position: relative;
      top: -55px;
    }

    h2 {
      text-align: center;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    img {
      width: 50%;
    }

    .data {
      font-size: 20px;
    }

    .specific {
      font-weight: normal;
    }

    button {
      background-color: #ddaf94;
      border-radius: 15px;
      padding: 10px;
      cursor: pointer;
    }

    a {
      text-decoration: none;
      color: #fdf8f5;
      font-size: 16px;
    }

    p {
      opacity: 0.75;
    }
  </style>
</html>
